/* styles.css */
.mobile-header {
  display: none;
  background: #292929;
}

.menu {
  background: #292929;
}

.bg-green-primary {
    background-color: #46E24D;
}

.bg-green-secundary {
    background-color: #00C40A;
}

@media (max-width: 768px) {
  .mobile-header {
    display: block;
  }
  .desktop-menu {
    display: none;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-in-down {
  animation: slideInDown 300ms ease-out forwards;
}

@keyframes slideInUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.slide-in-up {
  animation: slideInUp 300ms ease-in forwards;
}
