<div class="flex flex-col w-screen h-full md:items-center md:justify-center p-4 gap-5">
    <div class="w-full flex flex-col">
        <button
            (click)="goBackToDash()"
            class="bg-green-primary flex items-center justify-center rounded-full w-10 h-auto p-2"
        >
            <i class='bx  bx-chevron-left text-2xl'  ></i> 
        </button>
    </div>

    <div class="flex flex-col w-full text-white">
        <h2 class="text-2xl lg:text-3xl">Categorías</h2>
        <p class="text-[#7e7e7e]">Monitorea las categorías que tiene tu negocio para tener control de sus finanzas.</p>
    </div>

    <div class="w-full h-full flex flex-col lg:flex-row justify-between p-4 bg-gradient-gray-h rounded-xl gap-6">
        <div class="flex flex-col w-full lg:w-2/5 gap-3 font-thin">
            <h2 class="text-2xl text-white font-medium">Nueva Categoría</h2>
            <!-- Línea divisora -->
            <span class="bg-gray-details w-full h-0.5"></span>

            <div class="w-full flex flex-col items-start justify-start text-white gap-2">
                <label>Nueva Categoría</label>
                <input
                    type="text"
                    placeholder="Ingrese el nombre"
                    class="card w-full p-2 border-1 border-white rounded-lg"
                >
                <div class="flex flex-row items-center gap-2">
                    <input type="radio" class="accent-green-500 w-5 h-5 cursor-pointer">
                    <p>Sub Categoría</p>
                </div>
            </div>
            <div class="w-full flex flex-col items-start gap-2 text-white">
                <label>Categoría</label>
                <select
                    name="categorias"
                    disabled
                    class="card w-full p-2 border-1 border-white rounded-lg"
                    >
                    <option value="">Selecionar categoría</option>
                </select>
            </div>
            <div class="w-full flex flex-col items-start gap-2 text-white">
                <label>Tipo</label>
                <select
                    name="tipos"
                    class="card w-full p-2 border-1 border-white rounded-lg"
                    [(ngModel)]="tipoOperacion"
                >
                    <option value="" selected>Seleccione una opción</option>
                    <option value="ingreso">Ingreso</option>
                    <option value="egreso">Egreso</option>
                </select>
            </div>
            @switch (tipoOperacion) {
                @case ('ingreso') {
                    <div class="w-full flex flex-col items-start gap-2 text-white">
                    <label>Forma de cobro</label>
                    <select class="card w-full p-2 border-1 border-white rounded-lg">
                        <option value="seleccionar">Seleccionar</option>
                        <option value="efectivo">Efectivo</option>
                        <option value="cuentasPorCobrar">Cuentas por cobrar</option>
                    </select>
                    </div>
                }
                @case ('egreso') {
                    <div class="w-full flex flex-col items-start gap-2 text-white">
                    <label>Forma de pago</label>
                    <select class="card w-full p-2 border-1 border-white rounded-lg">
                        <option value="seleccione">Seleccione</option>
                        <option value="efectivo">Efectivo</option>
                        <option value="cuentasPorPagar">Cuentas por pagar</option>
                    </select>
                    </div>
                }
                @default {
                    <div class="w-full text-white italic opacity-60">
                        Selecciona un tipo de operación para continuar.
                    </div>
                }
            }
            <div class="w-full flex flex-col items-start gap-2 text-white">
                <label>Icono de la categoría</label>
                <select
                    name="tipos"
                    class="card w-full p-2 border-1 border-white rounded-lg"
                >
                    <option value="defalut">predeterminado</option>
                </select>
            </div>
            <div class="flex flex-row items-center gap-2 text-white mt-2">
                <input type="radio" class="accent-green-500 w-5 h-5 cursor-pointer">
                <p>Mostrar en el panel</p>
            </div>
            <!-- Línea divisora -->
            <span class="bg-gray-details w-full h-0.5"></span>

            <!-- Botón de crear categría -->
            <div class="w-full flex items-center justify-start">
                <button class="card bg-green-primary px-4 py-2 rounded-xl font-medium w-full text-[#292929]">Crear Categoría</button>
            </div>
        </div>

        <div class="w-full h-full flex flex-col items-start gap-3">
            <h2 class="text-2xl text-white font-medium">Categorías</h2>
            <!-- Línea divisora -->
            <span class="bg-gray-details w-full h-0.5"></span>

            <!-- Contenedor de las categorías creadas -->
            <div class="w-full h-full grid grid-cols-1 lg:grid-cols-2 border-1 border-[#3B3B3B] p-4 gap-4 rounded-2xl">
                @for (categoria of categorias; track categoria.id) {
                    <div class="card w-auto bg-gradient-gray-h-2 flex flex-col items-center justify-between p-6 rounded-xl gap-6">
                        <div class="flex flex-row items-center justify-between w-full">
                            <!-- Icono de la categoría -->
                            <div class="border-3 border-[#46E24D] rounded-full p-6 w-16 h-16 flex items-center justify-center text-white">
                                {{categoria.icono}}
                            </div>
                            <!-- Nombre y tipo de la categoría -->
                            <div class="flex flex-col items-end justify-end">
                                <h2 class="text-xl text-white">{{categoria.nombre}}</h2>
                                <p class="text-[#46E24D] font-semibold">{{categoria.tipo}}</p>
                            </div>
                        </div>
                        <div class="w-full flex flex-row items-center justify-between text-white">
                            @if (categoria.subcategoria) {
                                <p>Sub Categoría</p>
                            }
                            @else {
                                <p>Categoría Principal</p>
                            }
                            @if (categoria.mostrar) {
                                <div class="flex flex-row gap-2 justify-end">
                                    <input type="radio" [checked]="categoria.mostrar" class="accent-green-500 w-5 h-5 cursor-pointer">
                                    <p class="text-[#46E24D]">Mostrar en el panel</p>
                                </div>
                            }
                            @else {
                                <div class="flex flex-row gap-2 justify-end">
                                    <input type="radio" disabled [checked]="categoria.mostrar" class="w-5 h-5">
                                    <p>Mostrar en el panel</p>
                                </div>
                            }
                        </div>
                        <div class="w-full flex items-center justify-center gap-4">
                            <button class="card bg-green-primary px-4 py-2 rounded-xl font-medium w-full text-[#292929]">
                                <i class='bx  bx-edit-alt'  ></i> 
                                Editar
                            </button>
                            <button class="card bg-red-500 px-4 py-2 rounded-xl font-medium w-full text-white">
                                Dar de baja
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    <div>
</div>
