<main class="w-screen h-screen text-white p-4">
    <div class="w-full flex flex-col">
        <button
            (click)="goBackToDash()"
            class="bg-green-primary flex items-center justify-center rounded-full w-10 h-auto p-2 mb-4 ml-2"
        >
            <i class='bx  bx-chevron-left text-black text-2xl'  ></i> 
        </button>
    </div>

    <!-- Contenedor principal -->
    <div class="bg-gradient-gray-v flex flex-col items-start justify-start min-h-full gap-5 p-5 rounded-2xl">
        <!-- Encabezado del contenedor principal -->
        <div>
            <h2 class="text-2xl md:text-3xl">Categorías y Subcategorías</h2>
        </div>
        <!-- Línea divisora -->
        <span class="bg-gray-details w-full h-0.5"></span>

        <!-- Sección para un conteo de las categorias y subcategorias -->
        <section class="w-full flex flex-col md:flex-row gap-5 h-auto">
            <div class="p-4 md:p-6 md:min-w-[300px] rounded-2xl bg-gradient-gray-h flex flex-col items-start gap-2">
                <h2 class="text-xl font-light">Total Categorías</h2>
                <p class="text-3xl font-semibold text-[#46E24D]">{{totalCategorias}}</p>
                <div class="w-full flex flex-row items-center justify-between">
                    <p class="font-light">Ingresos: <span class="text-[#46E24D]">{{cateogriasIngresos}}</span></p>
                    <p class="font-light">Egresos: <span class="text-[#46E24D]">{{categoriasEgresos}}</span></p>
                </div>
            </div>

            <div class="p-4 md:p-6 md:min-w-[300px] rounded-2xl bg-gradient-gray-h flex flex-col items-start gap-2">
                <p class="text-xl font-light">Total Subcategorías</p>
                <p class="text-3xl font-semibold text-[#46E24D]">{{totalSubcategorias}}</p>
                <div class="w-full flex flex-row items-center justify-between">
                    <p class="font-light">Ingresos: <span class="text-[#46E24D]">{{subcateogriasIngresos}}</span></p>
                    <p class="font-light">Egresos: <span class="text-[#46E24D]">{{subcategoriasEgresos}}</span></p>
                </div>
            </div>
        </section>

        <!-- Línea divisora -->
        <span class="bg-gray-details w-full h-0.5"></span>

        <!-- Sección de las tablas de las categorías u subcategorías -->
        <section class="w-full flex flex-col items-stretch gap-4 py-4">
            <app-categories-table
                (modalOpen)="openModalCategoria($event)"
                (editarCategoria)="onEditarCategoria($event)"
            ></app-categories-table>
            <!-- Línea divisora -->
            <span class="bg-gray-details w-full h-0.5"></span>
            <app-subcategories-table
                (modalOpen)="openModalSubcategoria($event)"
                (editarSubcategoria)="onEditarSubcategoria($event)"
            ></app-subcategories-table>
        </section>
    </div>
    @if (modalOpenCategoria()) {
        <div class="modal-cat">
            <div 
                class="modal-categoria-container"
                [class.animate-cat]="animateModal()"
            >
                <form
                    [formGroup]="formCreateCategory"
                    (ngSubmit)="createCategory()"
                    class="w-full h-full flex flex-col gap-2 items-center justify-center"
                >
                    <div class="w-full flex flex-row items-center justify-between text-black">
                        <h2 class="text-2xl font-semibold">Nueva Categoría</h2>
                        <button (click)="closeModalCategoria()" type="button" class="text-3xl">
                            <i class='bx  bx-x'  ></i> 
                        </button>
                    </div>
                    <!-- Línea divisora -->
                    <span class="bg-gray-200 w-full h-0.5"></span>

                    <section class="w-full flex flex-col items-start justify-start gap-5 text-black">
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="nombre">Nombre de la categoría</label>
                            <input
                                formControlName="nombre"
                                type="text"
                                placeholder="Nombre"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                        </div>

                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="icono">Icono</label>
                            <select
                                name="icono"
                                formControlName="icono"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            >
                                <option value="1">Money</option>
                                <option value="2">Bulb</option>
                                <option value="3">Trending Up</option>
                                <option value="4">Trending Down</option>
                                <option value="5">Water</option>
                                <option value="6">Money</option>
                                <option value="7">Receipt</option>
                                <option value="8">Dollar</option>
                                <option value="9">Building</option>
                                <option value="10">Coin</option>
                                <option value="11">Line chart</option>
                                <option value="12">Bookmark</option>
                                <option value="13">Chart alt</option>
                                <option value="14">Credit card</option>
                            </select>
                        </div>

                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="tipoMovimiento">Tipo de movimiento</label>
                            <select
                                name="tipos"
                                formControlName="tipoMovimiento"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                                >
                                <option value="">--Tipo de movimiento--</option>
                                <option value="ingreso">Ingreso</option>
                                <option value="egreso">Egreso</option>
                            </select>
                        </div>

                        @switch (tipoOperacion) {
                            @case ('ingreso') {
                                <div class="w-full flex flex-col items-start gap-2">
                                    <label for="flujoEfectivo">Flujo de efectivo</label>
                                    <select
                                        formControlName="flujoEfectivo"
                                        class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                                    >
                                        <option value="seleccionar">--Seleccionar--</option>
                                        <option value="efectivo">Efectivo</option>
                                        <option value="cuenta_por_cobrar">Cuentas por cobrar</option>
                                    </select>
                                </div>
                            }
                            @case ('egreso') {
                                <div class="w-full flex flex-col items-start gap-2">
                                    <label for="flujoEfectivo">Flujo de efectivo</label>
                                    <select
                                        formControlName="flujoEfectivo"
                                        class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                                    >
                                        <option value="seleccionar">--Seleccionar--</option>
                                        <option value="efectivo">Efectivo</option>
                                        <option value="cuenta_por_pagar">Cuentas por pagar</option>
                                    </select>
                                </div>
                            }
                            @default {
                                <div class="w-full italic opacity-60">
                                    Selecciona un tipo de operación para continuar.
                                </div>
                            }
                        }
                        <div class="flex flex-row gap-2">
                            <input type="checkbox" formControlName="mostrarPanel" class="checkboxes">
                            <label class="label-check font-light" for="mostrarPanel">Mostrar en el panel</label>
                        </div>

                        <!-- Línea divisora -->
                        <span class="bg-gray-200 w-full h-0.5"></span>

                        <button
                            type="submit"
                            class="card bg-green-primary p-4 rounded-2xl w-full font-medium"
                        >
                            Crear Categoría
                        </button>
                    </section>
                </form>
            </div>
        </div>
    }
    @if (modalOpenSubcategoria()) {
        <div class="modal-sub">
            <div 
                class="modal-subcategoria-container"
                [class.animate-sub]="animateModal()"
            >
                <form
                    [formGroup]="formCreateSubcategory"
                    (ngSubmit)="createSubcategory()"
                    class="w-full h-full flex flex-col gap-2 items-center justify-center"
                >
                    <div class="w-full flex flex-row items-center justify-between text-black">
                        <h2 class="text-2xl font-semibold">Nueva Subcategoría</h2>
                        <button (click)="closeModalSubcategoria()" type="button" class="text-3xl">
                            <i class='bx  bx-x'  ></i> 
                        </button>
                    </div>
                    <!-- Línea divisora -->
                    <span class="bg-gray-200 w-full h-0.5"></span>

                    <section class="w-full flex flex-col items-start justify-start gap-5 text-black">
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="categoria">Seleccione una categoría</label>
                            <select
                                formControlName="categoria"
                                (change)="onCategoriaChange($event)"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            >
                                <option value="seleccionar">Seleccionar Categoría</option>
                                @for (categoria of categorias; track categoria.id_categoria) {
                                    <option [value]="categoria.id_categoria">{{categoria.nombre}}</option>
                                }
                            </select>
                        </div>

                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="nombreSub">Nombre de la subcategoría</label>
                            <input
                                formControlName="nombre"
                                type="text"
                                placeholder="Nombre"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                        </div>

                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="icono">Icono</label>
                            <select
                                name="icono"
                                formControlName="icono"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            >
                                <option value="1">Money</option>
                                <option value="2">Bulb</option>
                                <option value="3">Trending Up</option>
                                <option value="4">Trending Down</option>
                                <option value="5">Water</option>
                                <option value="6">Money</option>
                                <option value="7">Receipt</option>
                                <option value="8">Dollar</option>
                                <option value="9">Building</option>
                                <option value="10">Coin</option>
                                <option value="11">Line chart</option>
                                <option value="12">Bookmark</option>
                                <option value="13">Chart alt</option>
                                <option value="14">Credit card</option>
                            </select>
                        </div>

                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="tipoMovimiento">Tipo de movimiento</label>
                            <select
                                formControlName="tipoMovimiento"
                                class="card w-full p-3 border border-gray-400 rounded-xl md:rounded-2xl text-gray-500 pointer-events-none bg-gray-100"
                            >
                                <option value="">Tipo de movimiento</option>
                                <option value="ingreso">Ingreso</option>
                                <option value="egreso">Egreso</option>
                            </select>
                        </div>

                        <div class="w-full flex flex-col items-start gap-2">
                            <label for="flujoEfectivo">Flujo de efectivo</label>
                            <select
                                formControlName="flujoEfectivo"
                                class="card w-full p-3 border border-gray-400 rounded-xl md:rounded-2xl text-gray-500 pointer-events-none bg-gray-100"
                            >
                                <option value="">Flujo de efectvo</option>
                                <option value="efectivo">Efectivo</option>
                                <option value="cuenta_por_cobrar">Cuenta por cobrar</option>
                                <option value="cuenta_por_pagar">Cuenta por pagar</option>
                            </select>
                        </div>

                        <!-- Línea divisora -->
                        <span class="bg-gray-200 w-full h-0.5"></span>

                        <button
                            type="submit"
                            class="card bg-green-primary p-4 rounded-2xl w-full font-medium"
                        >
                            Crear Categoría
                        </button>
                    </section>
                </form>
            </div>
        </div>
    }
    @if (modalOpenEditCategoria()) {
        <div class="modal-edit-cat">
            <div
                class="modal-container-edit-cat"
                [class.animate-edit-cat]="animateModal()">
                <form
                    [formGroup]="formEditCategory"
                    (ngSubmit)="modifyCategory()"
                    class="w-full h-full flex flex-col gap-2 items-center justify-center"
                >
                    <div class="w-full flex flex-row items-center justify-between text-black">
                        <h2 class="text-2xl font-semibold">Editar Categoría</h2>
                        <button type="button" class="text-3xl" (click)="closeModalEditarCategoria()">
                            <i class='bx  bx-x'  ></i> 
                        </button>
                    </div>
                    <!-- Línea divisora -->
                    <span class="bg-gray-200 w-full h-0.5"></span>

                    <section class="w-full flex flex-col items-start justify-start gap-5 text-black">
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="nombre">Nombre de la categoría</label>
                            <input
                                formControlName="nombre"
                                type="text"
                                placeholder="Nombre"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                        </div>

                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="icono">Icono</label>
                            <select
                                name="icono"
                                formControlName="icono"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            >
                                <option value="1">Money</option>
                                <option value="2">Bulb</option>
                                <option value="3">Trending Up</option>
                                <option value="4">Trending Down</option>
                                <option value="5">Water</option>
                                <option value="6">Money</option>
                                <option value="7">Receipt</option>
                                <option value="8">Dollar</option>
                                <option value="9">Building</option>
                                <option value="10">Coin</option>
                                <option value="11">Line chart</option>
                                <option value="12">Bookmark</option>
                                <option value="13">Chart alt</option>
                                <option value="14">Credit card</option>
                            </select>
                        </div>

                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="tipoMovimiento">Tipo de movimiento</label>
                            <select
                                name="tipos"
                                formControlName="tipoMovimiento"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                                >
                                <option value="ingreso">Ingreso</option>
                                <option value="egreso">Egreso</option>
                            </select>
                        </div>

                        
                        <div class="w-full flex flex-col items-start gap-2">
                            <label for="flujoEfectivo">Flujo de efectivo</label>
                            <select
                                formControlName="flujoEfectivo"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            >
                                <option value="efectivo">Efectivo</option>
                                <option value="cuenta_por_cobrar">Cuentas por cobrar</option>
                            </select>
                        </div>

                        <div class="flex flex-row gap-2">
                            <input type="checkbox" formControlName="mostrarPanel" class="checkboxes">
                            <label class="label-check font-light" for="mostrarPanel">Mostrar en el panel</label>
                        </div>

                        <button
                            type="submit"
                            class="card bg-green-primary p-4 rounded-2xl w-full font-medium"
                        >
                            Modificar Categoría
                        </button>

                        <!-- Línea divisora -->
                        <span class="bg-gray-200 w-full h-0.5"></span>

                        @if (categoriaActiva()) {
                            <button
                                type="button"
                                (click)="changeEstatusCategory('baja')"
                                class="card border-2 border-red-500 p-3 rounded-2xl w-full font-medium"
                            >
                                Dar de baja
                            </button>
                        }
                        @else if (!categoriaActiva()) {
                            <button
                                type="button"
                                (click)="changeEstatusCategory('activo')"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            >
                                Habilitar Categoría
                            </button>
                        }
                    </section>
                </form>
            </div>
        </div>
    }
    @if (modalOpenEditSubcategoria()) {
        <div class="modal-edit-sub">
            <div
                class="modal-container-edit-sub"
                [class.animate-edit-sub]="animateModal()">
                <form
                    [formGroup]="formEditSubcategory"
                    (ngSubmit)="modifySubcategory()"
                    class="w-full h-full flex flex-col gap-2 items-center justify-center"
                >
                    <div class="w-full flex flex-row items-center justify-between text-black">
                        <h2 class="text-2xl font-semibold">Editar Categoría</h2>
                        <button type="button" class="text-3xl" (click)="closeModalEditarSubcategoria()">
                            <i class='bx  bx-x'  ></i> 
                        </button>
                    </div>
                    <!-- Línea divisora -->
                    <span class="bg-gray-200 w-full h-0.5"></span>

                    <section class="w-full flex flex-col items-start justify-start gap-5 text-black">
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="nombre">Nombre de la subcategoría</label>
                            <input
                                formControlName="nombre"
                                type="text"
                                placeholder="Nombre"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                        </div>

                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="icono">Icono</label>
                            <select
                                name="icono"
                                formControlName="icono"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            >
                                <option value="1">Money</option>
                                <option value="2">Bulb</option>
                                <option value="3">Trending Up</option>
                                <option value="4">Trending Down</option>
                                <option value="5">Water</option>
                                <option value="6">Money</option>
                                <option value="7">Receipt</option>
                                <option value="8">Dollar</option>
                                <option value="9">Building</option>
                                <option value="10">Coin</option>
                                <option value="11">Line chart</option>
                                <option value="12">Bookmark</option>
                                <option value="13">Chart alt</option>
                                <option value="14">Credit card</option>
                            </select>
                        </div>

                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="tipoMovimiento">Tipo de movimiento</label>
                            <select
                                name="tipos"
                                formControlName="tipoMovimiento"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                                >
                                <option value="ingreso">Ingreso</option>
                                <option value="egreso">Egreso</option>
                            </select>
                        </div>

                        
                        <div class="w-full flex flex-col items-start gap-2">
                            <label for="flujoEfectivo">Flujo de efectivo</label>
                            <select
                                formControlName="flujoEfectivo"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            >
                                <option value="efectivo">Efectivo</option>
                                <option value="cuenta_por_cobrar">Cuentas por cobrar</option>
                            </select>
                        </div>

                        <div class="flex flex-row gap-2">
                            <input type="checkbox" formControlName="mostrarPanel" class="checkboxes">
                            <label class="label-check font-light" for="mostrarPanel">Mostrar en el panel</label>
                        </div>

                        <button
                            type="submit"
                            class="card bg-green-primary p-4 rounded-2xl w-full font-medium"
                        >
                            Modificar Subcategoría
                        </button>

                        <!-- Línea divisora -->
                        <span class="bg-gray-200 w-full h-0.5"></span>

                        @if (subcategoriaActiva()) {
                            <button
                                type="button"
                                (click)="changeStatusSubcategory('baja')"
                                class="card border-2 border-red-500 p-3 rounded-2xl w-full font-medium"
                            >
                                Dar de baja
                            </button>
                        }
                        @else if (!subcategoriaActiva()) {
                            <button
                                type="button"
                                (click)="changeStatusSubcategory('activo')"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            >
                                Habilitar Subcategoría
                            </button>
                        }
                    </section>
                </form>
            </div>
        </div>
    }
</main>

