.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

@keyframes slideInDown {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-down {
    animation: slideInDown 700ms ease-out forwards;
}

.slide-in-down-2 {
    animation: slideInDown 1s ease-out;
}