.menu {
    
    transition: transform 0.3s ease;
    background: radial-gradient(#212121, #111111);
}

.menu:hover {
    transform: translateY(-5px);
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 280px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transform: scale(0.02);
    transition: all 0.20s ease;
}

.animate {
    opacity: 1;
    transform: scale(1);
}