.bg-green-primary {
  background-color: #46E24D;
}

.bg-green-secundary {
  background-color: #00C40A;
}

.btn-logout {
  color: #fff;
  transition: color 0.2s ease;
}

.btn-logout:hover {
  color: #46E24D;
}

@keyframes bounce-fade {
  0% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.02);
  }
  60% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}

.btnSaveData {
  cursor: pointer;
}

.btnSaveData:active {
  animation: bounce-fade 0.5s ease-in-out;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transform: scale(0.02);
    transition: all 0.20s ease;
}

.animate {
  opacity: 1;
  transform: scale(1);
}

.edit-disabled {
  background-color: #ababab;
}

.edit-enabled {
  background-color: #46E24D;
}