<div class="flex flex-col items-center w-full">
    <!-- Header del dashboad -->
    <app-header-dashboard></app-header-dashboard>
    <!-- Buscador y botones de notificaciones y usuario -->
    <div class="flex flex-row justify-between w-full p-4 gap-2">
        <div class="relative flex flex-row">
            <input
                type="text"
                placeholder="Buscar"
                class="border-1 border-white rounded-full text-gray-300 p-3 pl-12 w-full"
            >
            <button
                class="absolute top-2 left-2 flex items-center justify-center bg-white p-2 w-8 h-8 rounded-full"
            >
                <i class='bx  bx-search'  ></i>
            </button>
        </div>
        <div class="flex flex-row gap-2">
            <button
                class="flex items-center justify-center bg-white rounded-full p-2 w-12 h-12"
            >
                <i class='bx  bx-bell text-xl'  ></i> 
            </button>
            <button
                class="bg-green-primary flex items-center justify-center rounded-full p-2 w-12 h-12"
            >
                <i class='bx  bxs-user text-xl'  ></i>
            </button>
        </div>
    </div>
    <!-- Encabezado del Dashboard -->
    <div class="flex flex-row items-center justify-between text-white w-full p-4">
        <h2 class="text-3xl w-1/2">Análisis de Gastos</h2>
        <div class="1/2 flex flex-col">
            <h2 class="font-thin text-xl">Tu Presupuesto</h2>
            <div class="flex flex-row gap-2 items-center">
                <p class="text-3xl font-medium">{{presupuesto}}</p>
                <p class="bg-categories text-xs p-1 rounded-full">MXN</p>
            </div>
        </div>
    </div>

    <!-- Balance del dashboard -->
    <div class="flex flex-col w-full px-5 py-3 gap-2 text-white">
        <!-- Ingresos -->
        <div class="flex flex-row items-center justify-between gap-2 w-full">
            <div class="flex flex-row justify-between w-full">
                <h2>Ingresos</h2>
                <div class="flex flex-row">
                    <p>{{signo}}</p> <!-- Pendiente de corregir en el ts -->
                    <p>{{calcularIngresos(ingresosMensuales, ingresosMinimos)}}</p>
                </div>
            </div>
        </div>
        <span class="bg-green-primary w-full h-1 rounded-full"></span>
        <p class="font-thin">${{ingresosMensuales}} de ${{ingresosMinimos}}</p>

        <!-- Egresos -->
        <div class="flex flex-row items-center justify-between gap-2 w-full">
            <div class="flex flex-row justify-between w-full">
                <h2>Egresos</h2>
                <div class="flex flex-row">
                    <p>{{signo}}</p> <!-- Pendiente de corregir en el ts -->
                    <p>{{calcularEgresos(egresosMensuales, egresosMinimos)}}</p>
                </div>
            </div>
        </div>
        <span class="bg-green-primary w-full h-1 rounded-full"></span>
        <p class="font-thin">${{egresosMensuales}} de ${{egresosMinimos}}</p>
    </div>

    <!-- Categorías del dashboard -->
    <div class="w-full p-4 flex flex-col gap-3">
        @for (categoria of categorias; track categoria.id) {
            <div class="bg-categories flex flex-col rounded-3xl p-4 w-full text-white gap-1 justify-between">
                <p class="font-thin">{{categoria.nombre}}</p>
                <p class="text-lg">{{categoria.total}}</p>
            </div>
        }
    </div>

    <!-- Grafica de pastel de categorias -->
    <div class="w-full px-4 flex flex-col h-auto">
        <div class="w-full p-4 flex flex-col bg-white rounded-3xl gap-1">
            <h2 class="font-medium text-xl">Estadísticas</h2>
            <div class="w-full flex items-center justify-center">
                @if (isBrowser){
                    <div class="w-[80%] flex items-center justify-center">
                        <canvas
                            baseChart
                            [data]="pieChartData"
                            [options]="pieChartOptions"
                            [type]="'pie'">
                        </canvas>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Grafica de barras gastos a lo largo del tiempo -->
    <div class="w-full px-4 flex flex-col h-auto mt-4">
        <div class="bg-green-secundary w-full p-4 flex flex-col rounded-3xl gap-1 overflow-x-auto">
            <div class="flex w-full justify-between items-center">
                <h2>Gastos al largo del tiempo</h2>
                <div class="flex items-center justify-center gap-2">
                    <p>{{gastosTotales}}</p>
                    <p class="bg-categories text-xs p-1 rounded-full text-white">MXN</p>
                </div>
            </div>
            @if (isBrowser) {
                <div class="w-full flex items-center">
                    <canvas
                        baseChart
                        [data]="barChartData"
                        [options]="barChartOptions"
                        [type]="barChartType"
                        (chartHover)="chartHovered($event)"
                    >
                    </canvas>
                </div>
            }
        </div>
    </div>
</div>
