<main class="flex flex-col items-center w-full">
    <div class="w-full lg:w-screen flex flex-col lg:flex-row lg:justify-between">
        <!-- Header del dashboad -->
        <app-header-dashboard></app-header-dashboard>
        
        <!-- Buscador y botones de notificaciones y usuario -->
        <div class="flex flex-row justify-between w-auto p-4 gap-2">
            <div class="buttons slide-in-down relative flex flex-row">
                <button 
                    class="dynamic-btn group"
                >
                    <span class="relative z-10">Análisis con IA</span>
                </button>
            </div>
            <div class="flex flex-row gap-2">
                <button
                    class="buttons slide-in-down delay-400 flex items-center justify-center bg-white rounded-full p-2 w-12 lg:w-14 h-12 lg:h-14"
                >
                    <i class='bx  bx-bell text-xl'  ></i> 
                </button>
                <button
                    (click)="goToAccount()"
                    class="buttons slide-in-down delay-600 bg-green-primary flex items-center justify-center rounded-full p-2 w-12 lg:w-14 h-12 lg:h-14"
                >
                    <i class='bx  bxs-user text-xl'  ></i>
                </button>
            </div>
        </div>
    </div>

    <div class="w-full flex flex-col md:flex-row lg:justify-between">
        <!-- Encabezado del Dashboard -->
        <div class="slide-in-down flex flex-row items-center justify-between lg:justify-start text-white w-full p-4">
            <h2 class="text-3xl lg:text-5xl w-1/2">Análisis de Gastos</h2>
            <div class="1/2 flex flex-col">
                <h2 class="font-thin text-xl lg:text-3xl">Tu Presupuesto</h2>
                <div class="flex flex-row gap-2 items-center">
                    <p class="text-3xl lg:text-5xl font-medium">{{presupuesto}}</p>
                    <p class="bg-categories text-xs p-1 lg:px-2 rounded-full">MXN</p>
                </div>
            </div>
        </div>

        <!-- Balance del dashboard -->
        <div class="slide-in-down flex flex-col lg:flex-row w-full px-5 py-3 gap-2 lg:gap-10 text-white">
            <!-- Ingresos -->
            <div class="flex flex-col w-full items-start justify-center">
                <div class="flex flex-row lg:flex-col items-center justify-between gap-2 w-full">
                    <div class="flex flex-row justify-between w-full">
                        <h2>Ingresos</h2>
                        <div class="flex flex-row">
                            @if (isPositiveI()) {
                                <p>+</p>
                            }
                            <p>{{calcularIngresos(ingresosMensuales, ingresosMinimos)}}</p>
                        </div>
                    </div>
                </div>
                <span class="bg-green-primary w-full h-1 rounded-full"></span>
                <p class="font-thin">${{ingresosMensuales}} de ${{ingresosMinimos}}</p>
            </div>

            <!-- Egresos -->
            <div class="flex flex-col w-full items-start justify-center">
                <div class="flex flex-row items-center justify-between gap-2 w-full">
                    <div class="flex flex-row justify-between w-full">
                        <h2>Egresos</h2>
                        <div class="flex flex-row">
                            @if (isPositiveE()) {
                                <p>+</p>
                            }
                            <p>{{calcularEgresos(egresosMensuales, egresosMaximos)}}</p>
                        </div>
                    </div>
                </div>
                <span class="bg-green-primary w-full h-1 rounded-full"></span>
                <p class="font-thin">${{egresosMensuales}} de ${{egresosMaximos}}</p>
            </div>
        </div>
    </div>

    <!-- Dashboard -->
    <div class="grid grid-cols-1 md:grid-cols-4 w-full p-2 lg:p-4 h-full min-h-[600px] gap-4 lg:auto-rows-[280px]">
        <!-- Categorías del dashboard -->
        <div class="md:col-span-2 lg:col-span-2 lg:row-span-2 xl:col-span-1 h-full">
            <app-categorias-dashboard></app-categorias-dashboard>
        </div>
        <!-- Grafica de pastel de categorias -->
        <div class="md:col-span-2 lg:col-span-2 lg:row-span-1 xl:col-span-1">
            <app-pie-chart></app-pie-chart>
        </div>
        <!-- Grafica de barras gastos a lo largo del tiempo -->
        <div class="md:col-span-2 lg:col-span-2 lg:row-span-1 ">
            <app-bar-chart></app-bar-chart>
        </div>
        <!-- Lista de las últimas transacciones -->
        <div class="md:col-span-2 lg:col-span-1 lg:row-span-1 ">
            <app-last-transactions></app-last-transactions>
        </div>
        <!-- Gráfico que visualiza los mayores gastos del mes -->
        <div class="md:col-span-4 lg:col-span-3 lg:row-span-1 xl:col-span-2">
            <app-most-spendings></app-most-spendings>
        </div>
    </div>
</main>
