<main class="w-screen h-screen text-white p-4">
    <button
        (click)="goToDashboard()"
        class="bg-green-primary flex items-center justify-center rounded-full w-10 h-auto p-2 mb-4 ml-2"
    >
        <i class='bx  bx-chevron-left text-2xl text-black'  ></i> 
    </button>

    <!-- GRID PRINCIPAL -->
    <div class="grid grid-cols-1 lg:grid-cols-3 h-auto gap-4">
        <!-- Componente del Balance Total -->
        <div class="slide-to-right col-span-1 md:col-span-2 bg-gradient-gray-h rounded-2xl p-6 shadow-lg">
    
            <h2 class="text-xl font-semibold mb-4">Balance Total</h2>
            <!-- Línea divisora -->
            <span class="block bg-gray-details w-full h-0.5"></span>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 my-4">
                <div>
                    <p class="text-lg text-white mb-1 font-light">Transacciones de Ingresos</p>
                    <div class="flex flex-row gap-2 items-center">
                        <p class="text-3xl lg:text-5xl font-medium">${{montoIngresosTransacciones}}</p>
                        <p class="bg-categories text-xs p-1 lg:px-2 rounded-full">MXN</p>
                    </div>
                </div>

                <div>
                    <p class="text-lg text-white mb-1 font-light">Transacciones de Egresos</p>
                    <div class="flex flex-row gap-2 items-center">
                        <p class="text-3xl lg:text-5xl font-medium">${{montoEgresosTransacciones}}</p>
                        <p class="bg-categories text-xs p-1 lg:px-2 rounded-full">MXN</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Componente del Conteo Rápido -->
        <div class="slide-to-left w-full bg-gradient-gray-h-2 rounded-2xl p-6 shadow-lg">
            <h2 class="text-xl font-semibold mb-4">Conteo Rápido</h2>
            <!-- Línea divisora -->
            <span class="block bg-gray-details w-full h-0.5 my-3"></span>

            <div class="flex flex-col lg:flex-row items-center justify-between mb-4 gap-4">
                <div class="w-full">
                    <div class="flex flex-row items-center justify-between w-full">
                        <p class="text-sm text-white font-thin">Transacciones de Ingresos</p>
                        <p class="font-semibold text-md">{{numTransaccionesIngresos}}</p>
                    </div>
                    <span class="bg-green-primary w-full h-1 rounded-full block my-1"></span>
                </div>

                <div class="w-full">
                    <div class="flex flex-row items-center justify-between w-full">
                        <p class="text-sm text-zinc-300">Transacciones de Egresos</p>
                        <p class="font-semibold text-lg">{{numTransaccionesEgresos}}</p>
                    </div>
                    <span class="bg-green-primary w-full h-1 rounded-full block my-1"></span>
                </div>
            </div>

            <div class="flex gap-4">
                <button
                    (click)="openModal()"
                    class=" card flex-1 text-black bg-green-primary rounded-xl py-2 font-light">
                    Nueva Transacción
                </button>
                <button
                    (click)="openEditModal()"
                    class="card flex-1 border border-green-500 rounded-xl py-2 font-light">
                    Editar Transacción
                </button>
            </div>
        </div>
    </div>

    <!-- Transacciones recientes -->
    <div class="slide-to-left mt-4 bg-gradient-gray-h p-6 rounded-2xl">
        <h3 class="text-xl mb-3 font-semibold">Últimas Transacciones</h3>
        <!-- Línea divisora -->
        <span class="block bg-gray-details w-full h-0.5 my-3"></span>

        <div class="flex gap-4 overflow-x-auto overscroll-none py-2">

            @for (transaccion of ultimasTransacciones; track transaccion.id_transaccion) {
                <!-- TARJETA PENDIENTE -->
                <div class="bg-zinc-900 min-w-[280px] rounded-2xl p-4 shadow-lg">
                    <div class="flex items-center gap-2 mb-2">
                        <div class="w-10 h-10 rounded-full flex items-center justify-center text-xl">
                            <i [class]="icons[+transaccion.icono_categoria]" class="p-2 bg-[#46E24D] rounded-full"></i>
                        </div>
                        <div>
                            <p class="font-light">{{transaccion.categoria}}</p>
                            @if (transaccion.tipo === 'ingreso') {
                                <p class="text-green-400 text-sm font-light">Ingreso</p>
                            }
                            @else if (transaccion.tipo === 'egreso') {
                                <p class="text-red-400 text-sm font-thin">Egreso</p>
                            }
                        </div>
                    </div>
                    <p class="text-2xl font-bold">${{transaccion.monto_total}} <span class="text-sm">MXN</span></p>
                </div>
            }
        </div>
    </div>

    <!-- TRANSACCIONES TOTALES -->
    <div class="mt-5 slide-in-up">
        <h2 class="text-2xl font-bold">Transacciones Totales</h2>

        <p class="text-green-400 text-lg font-semibold mt-1">Filtros</p>

        <div class="flex mt-3 overflow-x-auto w-full overscroll-none">
            <button
                (click)="selectorFilterTransacciones('todas'); filtrarTransacciones('todas')"
                [class.filter-activate]="selectFilter() === 'todas'"
                [class.filter-inactivate]="selectFilter() !== 'todas'"
                class="filter-inactivate px-4 py-2 rounded-t-xl font-thin"
            >
                Todas
            </button>
            <button
                (click)="selectorFilterTransacciones('ingresos'); filtrarTransacciones('ingresos')"
                [class.filter-activate]="selectFilter() === 'ingresos'"
                [class.filter-inactivate]="selectFilter() !== 'ingresos'"
                class="filter-inactivate px-4 py-2 rounded-t-xl font-thin"
            >
                Ingresos
            </button>
            <button
                (click)="selectorFilterTransacciones('egresos'); filtrarTransacciones('egresos')"
                [class.filter-activate]="selectFilter() === 'egresos'"
                [class.filter-inactivate]="selectFilter() !== 'egresos'"
                class="filter-inactivate px-4 py-2 rounded-t-xl font-thin"
            >
                Egresos
            </button>
            <button
                (click)="selectorFilterTransacciones('pagadas'); filtrarTransacciones('pagadas')"
                [class.filter-activate]="selectFilter() === 'pagadas'"
                [class.filter-inactivate]="selectFilter() !== 'pagadas'"
                class="filter-inactivate px-4 py-2 rounded-t-xl font-thin"
            >
                Pagadas
            </button>
            <button
                (click)="selectorFilterTransacciones('pendientes'); filtrarTransacciones('pendientes')"
                [class.filter-activate]="selectFilter() === 'pendientes'"
                [class.filter-inactivate]="selectFilter() !== 'pendientes'"
                class="filter-inactivate px-4 py-2 rounded-t-xl font-thin"
            >
                Pendientes
            </button>
            <button
                (click)="selectorFilterTransacciones('canceladas'); filtrarTransacciones('canceladas')"
                [class.filter-activate]="selectFilter() === 'canceladas'"
                [class.filter-inactivate]="selectFilter() !== 'canceladas'"
                class="filter-inactivate px-4 py-2 rounded-t-xl font-thin"
            >
                Canceladas
            </button>
        </div>

        <!-- Tabla de transacciones -->
        <div class="bg-zinc-800 h-78 md:rounded-tr-2xl rounded-b-2xl overscroll-none overflow-auto">
            <table class="w-full  text-center">
                <thead class="text-white bg-[#151515] sticky top-0 z-20">
                    <tr class="bg-zinc-900">
                        <th class="font-thin p-4">ID</th>
                        <th class="font-thin p-4">Categoría</th>
                        <th class="font-thin p-4">Subcategoría</th>
                        <th class="font-thin p-4">Perfil Responsable</th>
                        <th class="font-thin p-4">Cliente o Proveedor</th>
                        <th class="font-thin p-4">Monto</th>
                        <th class="font-thin p-4">Fecha de transacción</th>
                        <th class="font-thin p-4">Estatus</th>
                    </tr>
                </thead>

                <tbody>
                    @for (transaccion of transaccionesFiltradas; track transaccion.id_transaccion) {
                        <tr class="border-b border-[#3B3B3B] hover:bg-[#1f1f1f] transition">
                            <td class="font-thin p-4">{{transaccion.id_transaccion}}</td>
                            <td class="font-thin p-4">{{transaccion.categoria}}</td>
                            <td class="font-thin p-4">{{transaccion.subcategoria}}</td>
                            <td class="font-thin p-4">{{transaccion.perfil}}</td>
                            <td class="font-thin p-4">{{transaccion.persona}}</td>
                            <td class="font-thin p-4">${{transaccion.monto_total}}</td>
                            <td class="font-thin p-4">{{transaccion.fecha_transaccion}}</td>
                            <td class="font-thin p-4">{{transaccion.estatus}}</td>
                        </tr>
                    }
                    @empty {
                        <tr>
                            <td colspan="8" class="font-thin p-4 text-center">
                                No hay transacciones en el mes actual.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (modalOpen()) {
        <div class="modal">
            <div
                class="modal-container"
                [class.animate]="animateModal()"
                >
                <form
                    [formGroup]="formNewTransaction"
                    (ngSubmit)="addNewTransaction()"
                    class="w-full h-full flex flex-col gap-2 items-center justify-center"
                >
                    <div class="w-full flex flex-row items-center justify-between text-black">
                        <h2 class="text-2xl font-semibold">Nueva Transacción</h2>
                        <button (click)="closeModal()" type="button" class="text-3xl">
                            <i class='bx  bx-x'  ></i> 
                        </button>
                    </div>
                    <!-- Línea divisora -->
                    <span class="bg-gray-200 w-full h-0.5"></span>

                    <section class="w-full flex flex-col items-start justify-start gap-3 text-black">
                        <!-- Contenedor de las categorias -->
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="categoria">Categoría</label>
                            <select
                                formControlName="categoria" 
                                (change)="onCategoriaChange($event)" 
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                                @if (categorias.length > 0) {
                                    <option [value]="null">-- Seleccione Categoria --</option>
                                }
                                @for (categoria of categorias; track categoria.id_categoria) {
                                    <option [value]="categoria.id_categoria">{{categoria.nombre}}</option>
                                }
                                @empty {
                                    <option [value]="">No hay categorías</option>
                                }
                            </select>
                        </div>
                        <!-- Contenedor de las subcategorias -->
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="subcategoria">Subcategoría</label>
                            <select
                                formControlName="subcategoria"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                                @if (subcategorias.length > 0) {
                                    <option [value]="null">-- Seleccione Subcategoria --</option>
                                }
                                @for (subcategoria of subcategorias; track subcategoria.id_subcategoria) {
                                    <option [value]="subcategoria.id_subcategoria">{{subcategoria.nombre}}</option>
                                }
                                @empty {
                                    <option [value]="null">No hay subcategorías</option>
                                }
                            </select>
                        </div>
                        <!-- Contenedor de la nota de la transacción -->
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="nota">Nota (Opcional)</label>
                            <textarea
                                formControlName="nota"
                                placeholder="Ingrese la nota de la transaccion"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            ></textarea>
                        </div>
                        <!-- Contenedor de el monto total y los plazos -->
                        <div class="w-full flex flex-row gap-2 items-center justify-between">
                            <!-- Monto total -->
                            <div class="w-3/5 flex flex-col gap-2 items-start justify-start">
                                <label for="montoTotal">Monto Total</label>
                                <input
                                    type="number"
                                    formControlName="montoTotal"
                                    placeholder="$0.00"
                                    class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                                >
                            </div>
                            <!-- Plazos -->
                            <div class="w-2/5 flex flex-col gap-2 items-start justify-start">
                                <label for="plazos">Número de plazos</label>
                                <input
                                    type="number"
                                    formControlName="plazos"
                                    class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                                >
                            </div>
                        </div>
                        <!-- Contenedor de la fecha de la transacción -->
                        <div class="w-3/5 flex flex-col gap-2 items-start justify-start">
                            <label for="fechaTransaccion">Fecha de Transacción</label>
                            <input 
                                type="date"
                                formControlName="fechaTransaccion"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                            >
                        </div>
                        <!-- Contenedor de las personas (Clientes o Proveedores) -->
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="persona">Cliente o Proveedor</label>
                            <select
                                formControlName="persona" 
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                                @if (personas.length > 0) {
                                    <option [value]="null">-- Seleccione Cliente o Proveedor --</option>
                                }
                                @for (persona of personas; track persona.id_persona) {
                                    <option [value]="persona.id_persona">{{persona.nombre}}</option>
                                }
                                @empty {
                                    <option [value]="">No hay clientes o proveedores</option>
                                }
                            </select>
                        </div>
                        <!-- Línea divisora -->
                        <span class="bg-gray-200 w-full h-0.5"></span>
                        <button
                            type="submit"
                            class="card bg-green-primary p-4 rounded-2xl w-full font-medium"
                        >
                            Crear Transacción
                        </button>
                    </section>
                </form>
            </div>
        </div>
    }
    @if (modalOpenEdit()) {
        <div class="modal-edit">
            <div
                class="modal-edit-container"
                [class.animate-edit]="animateModal()"
                >
                <div class="w-full flex flex-row items-center justify-between text-black">
                    <h2 class="text-2xl font-semibold">Editar Transacción/Cuota</h2>
                    <button (click)="closeEditModal()" type="button" class="text-3xl">
                        <i class='bx  bx-x'  ></i> 
                    </button>
                </div>

                <!-- Línea divisora -->
                <span class="bg-gray-200 w-full h-0.5"></span>
                <section class="w-full flex flex-row items-start justify-start gap-3 text-black">
                    <button
                        (click)="openEditTransaction()"
                        class="card border-2 border-[#46E24D] p-4 rounded-2xl w-full font-medium">
                        Editar Transacción
                    </button>
                    <button
                        (click)="openEditCouta()"
                        class="card border-2 border-[#46E24D] p-4 rounded-2xl w-full font-medium">
                        Editar Cuota
                    </button>
                </section>
            </div>
        </div>
    }
    @if (modalEditTransaction()) {
        <div class="modal-edit">
            <div
                class="modal-edit-container"
                [class.animate-edit]="animateModal()"
                >
                <form
                    [formGroup]="editarForm"
                    (ngSubmit)="actualizarTransaccion()"
                    class="w-full h-full flex flex-col gap-2 items-center justify-center">
                    <div class="w-full flex flex-row items-center justify-between text-black">
                        <h2 class="text-2xl font-semibold">Editar Transacción</h2>
                        <button (click)="closeEditTransaction()" type="button" class="text-3xl">
                            <i class='bx  bx-x'  ></i> 
                        </button>
                    </div>
    
                    <!-- Línea divisora -->
                    <span class="bg-gray-200 w-full h-0.5"></span>
                    <section class="w-full flex flex-col items-start justify-start gap-3 text-black">
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="">Número de Transacción</label>
                            <div class="w-full flex flex-row gap-2 items-start justify-start">
                                <input
                                    type="text"
                                    formControlName="numeroTransaccion"
                                    placeholder="Ingrese el número"
                                    class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                                <button
                                    type="button"
                                    (click)="consultarTransaccion()"
                                    class="card bg-green-primary p-3 rounded-2xl w-full font-medium">
                                    Consultar
                                </button>
                            </div>
                            <p class="text-red-500 font-thin text-base">{{mensajeConsultarTransaccion}}</p>
                        </div>
    
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="">Categoría</label>
                            <input
                                type="text"
                                formControlName="categoria"
                                placeholder="Categoría perteneciente"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                        </div>
    
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="">Subcategoría</label>
                            <input
                                type="text"
                                formControlName="subcategoria"
                                placeholder="Subcategoría perteneciente"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                        </div>
    
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="">Nota</label>
                            <textarea
                                placeholder="Ingrese la nueva nota de la transacción"
                                formControlName="nota"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"></textarea>
                        </div>
    
                        <div class="w-full flex flex-row gap-2 items-center justify-between">
                            <!-- Monto total -->
                            <div class="w-3/5 flex flex-col gap-2 items-start justify-start">
                                <label for="montoTotal">Monto Total</label>
                                <input
                                    type="number"
                                    formControlName="montoTotal"
                                    placeholder="$0.00"
                                    class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                                >
                            </div>
                            <!-- Plazos -->
                            <div class="w-2/5 flex flex-col gap-2 items-start justify-start">
                                <label for="plazos">Número de plazos</label>
                                <input
                                    type="number"
                                    formControlName="plazos"
                                    placeholder="0"
                                    class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500"
                                >
                            </div>
                        </div>
    
                        <button type="submit" class="card bg-green-primary p-3 rounded-2xl w-full font-medium">Guardar Cambios</button>
    
                        <div class="w-full flex flex-row items-center justify-start gap-3 text-black">
                            @if (flujoTransaccionConsultada() === 'efectivo') {
                                <button
                                    type="button"
                                    (click)="completarTransaccion()"
                                    class="card bg-green-primary p-3 rounded-2xl w-full font-medium">
                                    Completar Transacción
                                </button>

                                <button
                                    type="button"
                                    (click)="cancelarTransaccion()"
                                    class="card border-2 border-red-500 p-3 rounded-2xl w-full font-medium">
                                    Cancelar Transacción
                                </button>
                            }
                            @else if (flujoTransaccionConsultada() === 'cuenta_por_cobrar' || flujoTransaccionConsultada() === 'cuenta_por_pagar'){
                                <button
                                    type="button"
                                    (click)="abonarCuota()"
                                    class="card bg-green-primary p-3 rounded-2xl w-full font-medium">
                                    Abonar
                                </button>

                                <button
                                    type="button"
                                    (click)="cancelarTransaccion()"
                                    class="card border-2 border-red-500 p-3 rounded-2xl w-full font-medium">
                                    Cancelar Transacción
                                </button>
                            }
                        </div>
                    </section>
                    @if (transaccionPagada()) {
                        <p class="text-green-500 font-thin text-base">{{mensajeEdit()}}</p>    
                    }
                    @else if (cancelacionTransaccion()) {
                        <p class="text-red-500 font-thin text-base">{{mensajeEdit()}}</p>
                    }
                </form>
            </div>
        </div>
    }
    @if (modalCuota()) {
        <div class="modal-edit">
            <div
                class="modal-edit-container"
                [class.animate-edit]="animateModal()"
                >
                <div class="w-full flex flex-row items-center justify-between text-black">
                    <h2 class="text-2xl font-semibold">Editar Cuotas</h2>
                    <button (click)="closeEditCuota()" type="button" class="text-3xl">
                        <i class='bx  bx-x'  ></i> 
                    </button>
                </div>

                <!-- Línea divisora -->
                <span class="bg-gray-200 w-full h-0.5"></span>
                <section class="w-full flex flex-col items-start justify-start gap-3 text-black">
                    <form
                        [formGroup]="formCuotas"
                        class="w-full flex flex-col gap-2 items-start justify-start">
                        <label for="transaccion">Número de Transacción</label>
                        <div class="w-full flex flex-row gap-2 items-start justify-start">
                            <input
                                formControlName="transaccion"
                                type="text"
                                placeholder="Ingrese el número de transacción"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                            <button
                                (click)="consultarCuotas()"
                                class="card bg-green-primary p-3 rounded-2xl w-full font-medium"
                            >
                                Consultar
                            </button>
                        </div>
                    </form>

                    <div class="w-full flex flex-row items-center justify-between text-black">
                        <h2 class="text-2xl font-semibold">Cuotas</h2>
                    </div>

                    <!-- Línea divisora -->
                    <span class="bg-gray-200 w-full h-0.5"></span>

                    <section class="md:rounded-t-2xl overscroll-none overflow-x-auto w-full">
                        <table class="w-full text-center">
                            <thead class="text-black">
                                <tr class="bg-zinc-200">
                                    <th class="font-thin p-4">ID</th>
                                    <th class="font-thin p-4">Monto</th>
                                    <th class="font-thin p-4">Vencimiento</th>
                                    <th class="font-thin p-4">Estatus</th>
                                    <th class="font-thin p-4">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (cuota of transaccionesCuotas; track cuota.id_cuota) {
                                    <tr>
                                        <td class="font-thin p-4">{{cuota.id_cuota}}</td>
                                        <td class="font-thin p-4">${{cuota.monto}}</td>
                                        @if (!cuota.fecha_vencimiento) {
                                            <td class="font-thin p-4">Sin vencimiento</td>
                                        }
                                        @else {
                                            <td class="font-thin p-4">{{cuota.fecha_vencimiento}}</td>
                                        }
                                        <td class="font-thin p-4">{{cuota.estatus}}</td>
                                        <td class="font-thin p-4">
                                            <button
                                                type="button"
                                                (click)="openCuotaModal(cuota)">
                                                <i class='bx  bx-pencil text-[#46E24D]'  ></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </section>
            </div>
        </div>
    }
    @if (modalEditCuota()) {
        <div class="modal-cuota">
            <div
                class="modal-edit-cuota"
                [class.animate-cuota]="animateModal()">
                <form
                    [formGroup]="formEditCuota"
                    class="w-full h-full flex flex-col gap-2 items-center justify-start">
                    <div class="w-full flex flex-row items-center justify-between text-black">
                        <h2 class="text-2xl font-semibold">Editar Cuota</h2>
                        <button (click)="closeCuotaModal()" type="button" class="text-3xl">
                            <i class='bx  bx-x'  ></i> 
                        </button>
                    </div>

                    <!-- Línea divisora -->
                    <span class="bg-gray-200 w-full h-0.5"></span>
                    <section class="w-full flex flex-col items-start justify-start gap-3 text-black">
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label>Número de Cuota</label>
                            <input
                                formControlName="numeroCuota"
                                type="number"
                                class="card w-auto p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                        </div>

                        <div class="w-full flex flex-row gap-2 items-center justify-between">
                            <div class="w-full flex flex-col gap-2 items-start justify-start">
                                <label>Monto a pagar</label>
                                <input
                                    formControlName="montoPagar"
                                    type="number"
                                    class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                            </div>
                            <div class="w-full flex flex-col gap-2 items-start justify-start">
                                <label for="">Monto pagado</label>
                                <input
                                    formControlName="montoPagado"
                                    type="number"
                                    class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                            </div>
                        </div>

                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label for="">Fecha de vencimiento</label>
                            <input
                                formControlName="fechaVencimiento"
                                type="date"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                        </div>
                        <button
                            type="submit"
                            (click)="actualizarFechaExpiracion()"
                            class="card bg-green-primary p-3 rounded-2xl w-full font-medium"
                        >
                            Guardar Cambios
                        </button>
                        @if (updateCuotaDone()) {
                            <p class="text-green-500 font-thin text-base">{{mensajeUpdateCuota()}}</p>
                        }
                        @else {
                            <p class="text-red-500 font-thin text-base">{{mensajeUpdateCuota()}}</p>
                        }

                        <!-- Línea divisora -->
                        <span class="bg-gray-200 w-full h-0.5"></span>
                    </section>
                    <section class="w-full flex flex-col items-start justify-start gap-3 text-black">
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label>Restante</label>
                            <input
                                formControlName="restante"
                                type="number"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                        </div>
                        <div class="w-full flex flex-col gap-2 items-start justify-start">
                            <label>Abonar</label>
                            <input
                                formControlName="abonar"
                                type="number"
                                class="card w-full p-3 border-1 border-gray-400 rounded-xl md:rounded-2xl text-gray-500">
                        </div>
                        <button
                            (click)="agregarAbonoCuota()"
                            [disabled]="!habilitarBotonAbonar()"
                            class="card bg-green-primary p-3 rounded-2xl w-full font-medium"
                        >
                            Abonar a la cuota
                        </button>
                        <p class="text-green-500 font-thin text-base">{{mensajeAbonoCuota()}}</p>
                    </section>
                </form>
            </div>
        </div>
    }
</main>