/* You can add global styles to this file, and also import other style files */
@import "tailwindcss"; /* Import para tailwind CSS de manera global */
@import 'boxicons/css/boxicons.min.css'; /* Import para los iconos de boxicons */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overscroll-behavior: none;
}

body {
  display: flex;
  justify-content: center;
}


/* Estilos globales para la app */
.bg-gradient-gray-h {
    background: linear-gradient(to right, #292929, #111111);
}

.bg-gradient-gray-h-2 {
    background: linear-gradient(to left, #292929, #111111);
}

.bg-gradient-gray-v {
    background: linear-gradient(to top, #292929, #111111);
}

.bg-gray-details {
    background-color: #3B3B3B;
}

.bg-green-primary {
    background-color: #46E24D;
}

.bg-green-secundary {
    background-color: #00C40A;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.buttons {
    transition: transform 0.2s ease;
}

.buttons:hover {
    transform: translateY(-3px);
}

/* Animaciones globales */
@keyframes slideInDown {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-down {
    animation: slideInDown 600ms ease-out;
}

@keyframes slideInUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-up {
    animation: slideInUp 600ms ease-out;
}

@keyframes slideToLeft {
    from {
        transform: translateX(10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-to-left {
    animation: slideToLeft 600ms ease-out;
}

@keyframes slideToRight {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-to-right {
    animation: slideToRight 600ms ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 500ms ease-in;
}

.checkboxes {
    appearance: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 2px solid #46E24D;
    padding: 3px;
    border-radius: 50%;
    transition: background 0.1s ease-in;
    display: grid;
    place-content: center;
}

.checkboxes::before {
    content: '';
    background-color: #46E24D;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 0 0 5px #46E24D;
    background-image: url('/check.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    rotate: -360deg;
    scale: 0;
    opacity: 0;
    transition: all 200ms ease;
}

.checkboxes:checked::before {
    rotate: 0deg;
    scale: 1;
    opacity: 1;
}

.checkboxes:focus-visible {
    outline: 2px solid #46E24D;
    outline-offset: 2px;
}