/* You can add global styles to this file, and also import other style files */
@import "tailwindcss"; /* Import para tailwind CSS de manera global */
@import 'boxicons/css/boxicons.min.css'; /* Import para los iconos de boxicons */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
}