.bg-green-primary {
  background-color: #46E24D;
}

.bg-green-secundary {
  background-color: #00C40A;
}

.bg-gray {
  background-color: #292929;
}

.btn-selected {
  position: relative;
  background: none;
  cursor: pointer;
  color: #46E24D;
}

/* Contenedor principal de la linea */
.is-selected {
  width: 100%;
  height: 1px;
  position: relative;
  overflow: hidden;
}

/* Estilos de la línea cuando el botón no está seleccionado */
.line {
  display: block;
  border-radius: 10px;
  height: 100%;
  background-color: #46E24D;
  width: 0%; 
  transition: width 0.3s ease-in-out;
}

/* Estilos de la línea cuando el botón está seleccionado */
.line-selected {
  width: 100%;
}